{
  "presets": [
    "es2015",
    "react",
    "stage-2",
    "flow"
  ],
  "plugins": [
    ["flow-runtime"],
    "transform-decorators-legacy",

    "transform-class-properties",
    "transform-es2015-arrow-functions"
  ]
}